.list-container {
  padding: 2em;
  padding-top: 40px;
  margin-bottom: 20px;
  width: 1350px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.list-header,
.list-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e8e8e8;
}

.header-item,
.list-item-content {
  text-align: center;
}

.header-item.name,
.list-item-content.name {
  width: 900px;
  padding-bottom: 10px;
}

.header-item.votes,
.header-item-date,
.list-item-content-date,
.list-item-content.votes {
  width: 100px;
  text-align: center;
}

.list-item-content.name {
  text-align: left;
}

.list-item-content a {
  color: #1890ff;
}
