.m-list-container {
  padding: 1em;
  width: 93%;
}

.m-header-item.votes,
.m-list-item-content.votes {
  width: 100px;
  text-align: center;
}

.m-header-item.name,
.m-list-item-content.name {
  width: 90%;
  padding-bottom: 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.m-header-item.name {
  text-align: center;
}
