.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.all {
  background-color: #ffffff;
  padding-top: 50px;
}

.m-content-box {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  justify-content: center;
}

.m-header,
.footer {
  background-color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  z-index: 1000;
  white-space: nowrap;
}

.m-header {
  box-sizing: border-box;
  font-size: large;
  padding-top: 1em;
  padding-bottom: 1em;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px solid #5cb85c;
}

.m-content-box-wrapper {
  padding: 1em;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.m-header button {
  margin-left: 10px;
}

.m-header div {
  width: 60px;
}

.new-deabte {
  font-size: 10px;
}

.m-debate-line {
  padding-left: 0;
}

.m-debate-line li {
  display: flex;
  margin-bottom: 10px;
}

.m-debate-line .createdAt {
  flex: 0.8;
  text-align: left;
}
.m-debate-line .user {
  flex: 1;
  text-align: left;
}

.m-debate-line .name {
  flex: 3;
  text-align: left;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  margin-right: 1em;
  white-space: normal;
  word-wrap: break-word;
}

.m-custom-link .name {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.m-content-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #5a5757;
  height: 40px;
}
