a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.home {
  margin-left: 150px;
}

.header,
.nav,
.footer {
  background-color: #333;
  color: white;
  padding: 1em;
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
}

.content-box {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 180px;
  width: 1000px;
}

.chat-box {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 200vh;
}

li {
  list-style-type: none;
  text-align: left;
}

.title-name {
  display: flex;
  justify-self: flex-start;
  font-size: 20px;
}

.box-title {
  display: flex;
  justify-content: space-between;
}
