body,
html {
  height: 100%;
  margin: 0;
}

.container {
  height: 100%;
  margin-left: 50px;
  transition: margin-left 0.5s;
  background: #eee;
  padding: 20px;
}

/* 화면 너비가 1200px 이상일 때 */
@media (min-width: 1200px) {
  .container {
    margin-left: 150px;
  }
}

/* 화면 너비가 800px에서 1199px 사이일 때 */
@media (min-width: 800px) and (max-width: 1199px) {
  .container {
    margin-left: 100px;
  }
}

/* 화면 너비가 799px 이하일 때 */
@media (max-width: 799px) {
  .container {
    margin-left: 50px;
  }
}
