.chatbox {
  display: flex;
  height: 50%;
  width: 70%;
}

.main-content {
  flex: 1;
  padding: 20px;
  width: 700px;
  height: 1000px;
}

.chatpage-move {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
}

.stance-selector {
  margin: 10px;
}

.message-area {
  height: 60%;
  overflow-y: scroll;
}

.emoji {
  margin-left: 8px;
}

.sidebar {
  width: 330px;
  border-right: 1px solid #ccc;
  padding: 20px;
  font-size: 25px;
  font-weight: bold;
  margin-left: 200px;
}

.message-contetn {
  flex-grow: 1;
}

.vote-buttons {
  display: flex;
  min-width: 155px;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}

.top-agree {
  min-height: 200px;
}

.vote-result {
  min-height: 200px;
}

.button-container {
  margin-top: 20px;
  background-image: url("../image/simon0861_red_vs_blue_d523affc-36ae-46e6-a01c-adece6ff8216.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  width: 100%;
  height: 100px;
}

.button-container button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 1.5em;
}

.button-container button:first-child {
  left: 10px;
}

.button-container button:last-child {
  right: 10px;
}

.button {
  width: 45%;
  height: 100%;
}

.button-text {
  display: block;
  margin: 5px 0;
  color: #ffffff;
  font-size: 17px;
}

.top-agree-area,
.top-disagree-area {
  min-height: 180px;
}

.message-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.vote-buttons {
  margin-left: auto;
}

.message-item.align-right .message-content {
  margin-left: auto;
  margin-right: 5px;
  order: 1;
}

.message-item.align-right .vote-buttons {
  margin-left: 0;
  margin-right: 0;
  order: 2;
}
