.m-main-content {
  width: 90%;
  padding: 1em;
  height: 105vh;
}
.m-sidebar {
  width: 90%;
  border-right: 1px solid #ccc;
  padding: 1em;
  font-size: 25px;
  font-weight: bold;
}

.m-chatbox {
  height: 90%;
}

.m-message-area {
  height: 65%;
  overflow-y: scroll;
}
