.m-main-content {
  width: 90%;
  padding: 1em;
  height: 105vh;
}
.m-sidebar {
  width: 90%;
  border-right: 1px solid #ccc;
  padding: 1em;
  font-size: 25px;
  font-weight: bold;
}

.m-chatbox {
  height: 90%;
}

.m-message-area {
  height: 65%;
  overflow-y: scroll;
}

.m-vote-buttons {
  display: flex;
  min-width: 100px;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  margin-left: auto;
  order: 1;
}

.m-message-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.m-message-item.align-right .m-message-content {
  margin-left: auto;
  order: 1;
}

.m-message-item.align-right .m-vote-buttons {
  margin-left: 0;
  margin-right: 0;
  order: 2;
}
