.m-main-content {
  width: 100%;
  padding-top: 1.5em;
  height: 105vh;
  border-left: 1em;
}

.m-sidebar {
  width: 100%;
  border-right: 1px solid #ccc;
  font-size: 25px;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.m-message-area {
  width: 95%;
  height: 65%;
  overflow-y: scroll;
}

.m-vote-buttons {
  display: flex;
  min-width: 100px;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  margin-left: auto;
  order: 1;
}

.m-message-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.m-message-item.align-right .m-message-content {
  margin-left: auto;
  order: 1;
}

.m-message-item.align-right .m-vote-buttons {
  margin-left: 0;
  margin-right: 0;
  order: 2;
}

.m-content-area {
  width: 100%;
  background-color: white;
  margin: 0px;
  margin-bottom: 20px;
}

.m-title {
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 97%;
}

.m-title::before {
  content: "";
  display: block;
  height: 1.5em; /* line-height와 동일한 값을 사용하여 줄 높이를 맞춥니다. */
  width: 2ch; /* 3글자만큼의 너비. 조정이 필요하면 변경하세요. */
  float: left; /* 좌측에 부동 처리하여 다음 줄부터의 내용을 밀어냅니다. */
}
